body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 48);
}

a {
  text-decoration: none;
}

#main-header {
  background-color: rgb(29, 26, 24);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 60);
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lists-item {
  margin: 0 1rem;
}

.lists-item a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}

.lists-item a:hover,
.lists-item a:active {
  color: rgb(228, 163, 44);
}

#page-title {
  text-align: center;
  font-size: 3rem;
  color: rgb(228, 163, 44);
}

#latest-products {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.food-lists {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 8px;
  overflow: hidden;
}

.food-item img {
  height:15rem;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  padding: 1rem;
}

.food-item-content .btn {
  color: white;
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: rgb(228, 157, 44);
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  background-color: rgb(221, 134, 34);
}

@media(max-width: 48rem) {
  .navigation{
    display: none;
  }

  #page-title{
    font-size: 1.5rem;
  }

  .food-lists{
    grid-template-columns: 1fr;
  }

}